@import "~vuetify/dist/vuetify.css";
@import "../design/css/nucleo-icons.css";
@import "../design/scss/blk-design-system";
@import "./variables";

.theme--dark.v-toolbar {
  border-radius: 30px;
  background: linear-gradient(45deg, $primary, $background);
}

.theme--dark.application {
  background-image: url(./dots.png);
  background-size: contain;
  color: #525f7f;
  background-color: $background
}
.theme--dark.v-navigation-drawer {
  margin-top: 10% !important;
  border-radius: 30px;
  padding: 20px;
  background: linear-gradient(45deg, $background, $primary);
}
.v-navigation-drawer .v-list {
  background: transparent;
}